*{
  margin: 0px;
  padding: 0px
}
.gridcontainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  background-color: skyblue;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 7fr;
}
.header{
  background: rgb(190, 237, 242);
  grid-column: 2 / 8;
  grid-row: 1 / 2;
} 
.headerrow1{
  display: flex;
  justify-content: space-between;
}
.search{
  display: flex;
  align-items: center;
  padding: 5px;
}
#searchicon{
  width: 15px;
  padding: 2px;
} 
.profile{
  display: flex;
  align-items: center;
  padding: 5px;
}
input{
  border-radius: 2px;
  border: 1px solid black;
}
.profile *{
  padding: 2px;
}
#caticon{
  width: 15px;
  background-color: rgb(252, 248, 176);
  border-radius: 5px;
}
#alerticon{
  width: 15px;
}
.headerrow2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome{
  display: flex;
  align-items: center;
  padding: 5px;
}
.welcometext{
  padding-left: 5px;
}
#caticonlarge{
  width: 30px;
  padding: 2px;
  background-color: rgb(252, 248, 176);
  border-radius: 5px;
}
.buttonrow{
  padding: 5px;
}
button{
  padding: 2px;
  border-radius: 5px;
  outline: none;
  border: 0.8px solid black;
  font-size: 0.7em;
  background-color: rgb(231, 239, 239);
}





.navbar{
  background-color: rgb(32, 210, 241);
  grid-column: 1 /2;
  grid-row: 1 / 8;
  padding: 1vw;
}
.navlogo{
  display: flex;
  justify-content: center;
  align-items: center;
}
#cuteicon{
  width: 12vw;
  padding: 4px;
}
.navlist1, .navlist2{
  font-size: 0.7em;
}
.navlist1>ul, .navlist2>ul{
  list-style: none;
}
.navlist1>ul {
  margin-top: 8vh;
}
.navlist2>ul {
  margin-top: 8vh;
}




.content{
  background-color: antiquewhite;
}